# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

specs/

# OS files
.DS_Store

# Example binaries
examples/*/basic
examples/*/cloud
examples/*/selfhosted

# Added by goreleaser init:
dist/
